@charset "utf-8";
/* 基本元素重置 */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
}
body,
input,
textarea,
select,
button,
table {
    font-size: 12px;
    line-height: 1.25em;
    outline: none;
}
img,
fieldset {
    border: 0;
}
ul,
ol {
    list-style: none;
}
em,
address {
    font-style: normal;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    text-decoration: none !important;
}
table {
    border-collapse: collapse;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
i {
    font-style: normal;
    font-weight: 400;
    outline: none;
}
img {
    border: none;
    vertical-align: middle;
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei',
        sans-serif;
}
@font-face {
    font-family: 'iconfont'; /* project id 650174 */
    src: url('./font_650174_9aisvhb1dwvcxr.eot');
    src: url('./font_650174_9aisvhb1dwvcxr.eot#iefix')
            format('embedded-opentype'),
        url('./font_650174_9aisvhb1dwvcxr.woff') format('woff'),
        url('./font_650174_9aisvhb1dwvcxr.ttf') format('truetype'),
        url('./font_650174_9aisvhb1dwvcxr.svg#iconfont') format('svg');
}
.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.clearfix:after {
    logincontent: ' ';
    display: block;
    height: 0;
    clear: both;
}
.clearfix {
    zoom: 1;
}
.Cgreen {
    color: #58c94a;
}
.Cred {
    color: #fa7252;
}
.Cyellow {
    color: #f6b900;
}
.Cblue {
    color: #48c8ff;
}
.hide {
    display: none;
}
input::-webkit-input-placeholder {
    color: #b4b4b4;
    font-weight: 100;
}
input::-moz-placeholder {
    color: #b4b4b4;
    font-weight: 100;
}
input:-moz-placeholder {
    color: #b4b4b4;
    font-weight: 100;
}
input:-ms-input-placeholder {
    color: #b4b4b4;
    font-weight: 100;
}
/* wrapper */
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
/* header */
.header {
    height: 50px;
}
.header h1 {
    font-size: 36px;
    line-height: 50px;
    margin-left: 7px;
    float: left;
}
.header .QRspan {
    float: right;
    margin-top: 99px;
    position: relative;
}
.header .QRspan span {
    color: #646464;
    font-size: 16px;
}
.header .QRspan:hover .QRimg {
    display: inline-block;
    width: 114px;
    height: 114px;
}
.header .QRspan .QRimg {
    position: absolute;
    top: -97px;
    right: 0;
    display: none;
}
/* loginContent */
.loginContent {
    height: calc(100vh - 110px);
    background: url('./bg.png')
            /*tpa=http://www.17sucai.com/preview/23816/2018-10-16/loginPro/img/bg.png*/
            no-repeat,
        -webkit-linear-gradient(-45deg, #48c8ff, #54b7fe);
    background: url('./bg.png')
            /*tpa=http://www.17sucai.com/preview/23816/2018-10-16/loginPro/img/bg.png*/
            no-repeat,
        -moz-linear-gradient(-135deg, #48c8ff, #54b7fe);
    background: url('./bg.png')
            /*tpa=http://www.17sucai.com/preview/23816/2018-10-16/loginPro/img/bg.png*/
            no-repeat,
        linear-gradient(-135deg, #48c8ff, #54b7fe);
}
.loginContent .wrapper {
    height: 100%;
    position: relative;
}
.loginContent .wrapper .bg1 {
    position: absolute;
    top: 50%;
    left: -165px;
    margin-top: -214px;
}
.loginContent .wrapper .loginBox {
    width: 408px;
    height: 441px;
    padding: 40px 50px;
    background: #ffffff;
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -220px;
}
.loginContent .wrapper .loginBox .logo {
    width: 100%;
    height: 68px;
    background: url('logoPlus.png')
        /*tpa=http://www.17sucai.com/preview/23816/2018-10-16/loginPro/img/logoPlus.png*/
        no-repeat;
    background-size: contain;
}
.loginContent .wrapper .loginBox .formDiv {
    margin-top: 40px;
    font-size: 16px;
}
.loginContent .wrapper .loginBox .formDiv input[type='text'],
.loginContent .wrapper .loginBox .formDiv input[type='password'] {
    margin-bottom: 20px;
    width: 100%;
    height: 42px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    box-shadow: 1px 5px 6px 0px rgba(236, 236, 236, 0.5);
    padding: 5px 5px 5px 40px;
    font-size: 16px;
}
.loginContent .wrapper .loginBox .formDiv input[type='text']:focus,
.loginContent .wrapper .loginBox .formDiv input[type='password']:focus {
    border-color: #58c94a;
}
.loginContent .wrapper .loginBox .formDiv label {
    position: relative;
}
.loginContent .wrapper .loginBox .formDiv label i.iconfont {
    color: #d4dee7;
    font-size: 18px;
    position: absolute;
    top: 3px;
    left: 15px;
}
.loginContent .wrapper .loginBox .formDiv input[type='text']:focus + i.iconfont,
.loginContent
    .wrapper
    .loginBox
    .formDiv
    input[type='password']:focus
    + i.iconfont {
    color: #58c94a;
}
.loginContent .wrapper .loginBox .formDiv .pwdOper {
    font-weight: 300;
    margin-bottom: 30px;
}
.loginContent .wrapper .loginBox .formDiv .pwdOper .remember {
    color: #646464;
    float: left;
}
.loginContent
    .wrapper
    .loginBox
    .formDiv
    .pwdOper
    .remember
    input[type='checkbox']:checked
    + .checkbox:before {
    font-family: iconfont;
    logincontent: '\e732';
    color: #f6b900;
    font-size: 18px;
}
.loginContent .wrapper .loginBox .formDiv .pwdOper .remember .checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #f6b900;
    border-radius: 2px;
    vertical-align: bottom;
    margin-right: 5px;
}
.loginContent .wrapper .loginBox .formDiv .pwdOper .forget {
    float: right;
}
.loginContent .wrapper .loginBox .formDiv a.submit {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    width: 100%;
    color: #ffffff;
    border: 1px solid #58c94a;
    background: #58c94a;
    border-radius: 4px;
    text-align: center;
}
.loginContent .wrapper .loginBox .formDiv a.submit:hover {
    background: #69d25b;
}
.loginContent .wrapper .loginBox .formDiv a.submit:active {
    background: #61c554;
}
/* footer */
.footer {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 14px;
    color: #646464;
}
