
#clock {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
    display: inline;
    float: right;
    margin-right: 10px;
}
#clock .time {
    letter-spacing: 0.05em;
    font-size: 14px;
    padding: 5px 0;
}

#clock .date {
    letter-spacing: 0.1em;
    font-size: 14px;
}

#clock .text {
    letter-spacing: 0.1em;
    font-size: 14px;
    padding: 20px 0 0;
}
