.mainPanel {
    display: flex;
    height: calc(100vh - 105px);
    flex-direction: column;
    min-height: 200px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    transition: 0.2s;
    margin: 5px;
}
.contentPanel {
    flex: 1;
    margin-top: 0px;
    overflow-y: scroll;
    overflow: auto;
    top: 37px;
}

.toolPanel {
    min-height: 37px;
    border-bottom: 1px solid green;
    display: flex;
    margin: 3px;
    padding-left: 10px;
}
.toolPanel .queryCriteria {
    flex: 4;
    margin-top: 2px;
}
.toolPanel .toolButton {
    flex: 1;
    justify-content: flex-end;
    text-align: right;
    min-width: 210px;
    margin-top: 2px;
}
.toolPanel .queryCriteria .el-form {
    height: 0px;
}
.footerPanel {
    height: 30px;
}
.el-table .warning-row {
    background: white;
}

.el-table .success-row {
    background: white;
}

@media only screen and (min-width: 1367px) {
    .mainPanel {
        display: flex;
        height: calc(100vh - 110px);
        flex-direction: column;
        min-height: 200px;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        transition: 0.2s;
        margin: 5px;
    }
    .toolPanel {
        min-height: 43px;
        border-bottom: 1px solid green;
        display: flex;
        margin: 3px;
        padding-left: 10px;
    }
}
